// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Post
@import 'partials/_posts';

// font-awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul.nav_boolpress {
    li {
        margin-left: 10px;
        i.header_icon {
            color: #358fdc;
        }
    }
}

div.home_container {
    width: 80%;
    margin: 0 auto;
}

div.paginate_container {
    width: 85%;
    margin: 0 auto;
}

div.categories_main {
    width: 80%;
    margin: 0 auto;
}
