div.post_section {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    div.post_card {
        border: 1px solid black;
        width: calc(100% / 4 - 50px);
        margin: 20px auto;
        padding: 10px;
    }
}

div.single_post_section {
    width: 90%;
    margin: 0 auto;
    div.single_post {
        width: 70%;
        margin: 0 auto;
    }
}

div.create_post_section,
div.edit_post_section {
    width: 65%;
    margin: 0 auto;
}
